.optional_search_page {
  border: 2px solid rgb(104, 100, 100);
  border-radius: 0px 30px;
  padding-top: 3em;
  padding-bottom: 5em;
}

.tab {
  border: 1px solid rgb(104, 100, 100);
  border-radius: 15px 15px 0px 0px;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  cursor: pointer;
  margin-right: 0.3em;
  background-color: #eeeeee;
}
.tab:hover{
  background-color: white;
}
.tab_chosen{
  background-color: white;
}
.tabs_menu {
  margin-top: 1em;
  height: 3em;
}

.title{
  margin-left: 4em;
  margin-bottom: 1em;
}
.item{
  height: 2em;
  width: auto;
  padding: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f9fa;
  border: 1px solid rgb(104, 100, 100);
  border-radius: 10px;
  text-align: center;
  margin: 0.2em;
}

#getMoreTags{
  font-size: small;
  opacity: 0.8;
}

#getPlaylistBtn{
  width: 20em;
}
